#icon_camera {
  margin-right: 4px;
}

.obligatoire {
  color : red;
}

#txtChampObligatoire {
  margin-left: 5%;
}

#btnPhoto {
  margin-top: 10px;
}

#placeholderImg {
  width: 600px;
  height: 200px;
}

#imageToDisplay {
  width: 600px;
  height: 200px;
}

#buttonInscription {
  margin-bottom: 20px;
}
