<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="annonces">
      <ion-icon name="storefront-outline"></ion-icon>
      <ion-label>Annonces</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="vendre">
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-label>Vendre</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="encheres">
      <ion-icon name="cart-outline"></ion-icon>
      <ion-label>Enchères</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profil">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
