<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Liste des annonces
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Rafraichit les annonces du segment sélectionné -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- Barre de recherche -->
  <ion-searchbar (ionInput)="filterList($event)" placeholder="Rechercher"></ion-searchbar>
  <div *ngIf="this.aBiens.length === 0" id="message-container">
    Aucune annonce disponible
    <br/>
    <br/>
    <ion-icon name="search" size="large"></ion-icon>
  </div>

  <!-- Affiche les annonces disponible dans le système -->
  <ion-list *ngIf="this.aBiens.length !== 0">
    <ion-item *ngFor="let bien of aBiens" (click)="afficherDetail(bien.idB)">
      <ion-avatar slot="start">
        <img [src]="bien.photoB">
      </ion-avatar>
      <ion-label>
        <h2>{{ bien.nomB }}</h2>
        <p>{{ bien.descriptionB }}</p>
        <p *ngIf="bien.prixEnchereCourante === null">Prix courant : {{bien.prixPlancherB}}€</p>
        <p *ngIf="bien.prixEnchereCourante !== null">Prix courant : {{ bien.prixEnchereCourante}}€</p>
        <p *ngIf="bien.compteurMinute !== 0 || bien.compteurSeconde !== 0" style="color:{{ this.couleurCompteur(bien.compteurMinute) }}">
          {{ bien.compteurMinute }} : {{ bien.compteurSeconde }}
        </p>
        <p *ngIf="bien.compteurMinute === 0 && bien.compteurSeconde === 0" style="color: red">
          Vente terminée
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
